html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#__next {
  height: 100%;
}

/* index */
.index {
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* login */
.login {
  display: flex;
  justify-content: center;
  position: relative;
  /* background: #b8b799; */
  padding: 24px;

  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.loginBorder {
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.5);

  --g: 4px;
  --b: 3px;
  --c: black;

  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
  background: var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
    var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b), var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: 0.3s;
}
.loginBorder:hover {
  --_p: 75%;
  filter: grayscale(0%);
}

/* home */
.home {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  background-image: url("../public/logo/Logo-Icon-final.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
}

/* accountImgComtainer */
.accountImgComtainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background: tan;
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 4vh;
  border-radius: 4px;
}

/* navigateBar */
.navigateBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  width: 7vh;
  background: #1c8445;

  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.5);
}

/* Scene List */
.sceneList {
  display: flex;
  height: 100%;
  width: 100%;
  background: "green";
  overflow-y: scroll;
  /* background: red; */
}

.sceneListEntriesContainer {
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sceneListEntry {
  background-color: #c9cdcd;
  height: 24vh;
  width: 24vh;
  margin: 18px;
  padding: 8px;

  transition: width 0.5s, height 0.5s, box-shadow 0.5s, background-color 0.5s;

  box-shadow: 7px 7px 14px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.sceneListEntry:hover {
  background-color: rgb(234, 224, 24);
  /* height: 19vh;
  width: 19vh; */
  box-shadow: 7px 7px 14px 10px rgba(0, 0, 0, 0.5);
}

.newScene {
  height: 24vh;
  width: 24vh;
  margin: 18px;
  padding: 8px;
  background: white;

  transition: width 0.5s, height 0.5s, box-shadow 0.5s;

  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.newScene:hover {
  /* height: 19vh;
  width: 19vh; */
  box-shadow: 7px 7px 14px 10px rgba(0, 0, 0, 0.5);
}

/* main */
.main {
  height: 100%;
  width: 100%;
}

/* Menubar */
.menuBar {
  height: 5%;
  background: #1c8445;
  align-items: center;
  z-index: 99999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 7px 8px;
}

/* modelList */
.modelList {
  position: absolute;
  background: #d9d9d9;
  left: 28vh;
  top: 16vh;
  height: 75vh;
  width: 27vh;
  z-index: 10;
}

.modelListEntry {
  flex-grow: 1;
}

.modelListEntryContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 20px;
}

.showModelListBtn {
  position: absolute;
  z-index: 100;
  left: 58vh;
  bottom: 1vh;
  background: white;
}

/* chat */
.chat {
  position: absolute;
  z-index: 100;
  background: white;
  top: 30vh;
  left: 50vh;
}

.showChatBtn {
  position: absolute;
  z-index: 100;
  left: 72vh;
  bottom: 1vh;
  background: white;
}

/* toolbar */
.toolBar {
  background: #d9d9d9;
  position: absolute;
  height: 100px;
  left: 25%;
  top: 6vh;
  z-index: 10;
  cursor: grabbing;
  min-width: 50%;
  max-height: 8vh;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}

.showToolbarBtn {
  position: absolute;
  z-index: 100;
  left: 31vh;
  bottom: 1vh;
  background: white;
}

/* wallList */
.wallList {
  background: #d9d9d9;
  position: absolute;
  bottom: 8%;
  left: 30%;
  z-index: 100;
}

.showWallListBtn {
  position: absolute;
  z-index: 100;
  left: 1vh;
  bottom: 1vh;
  background: white;
}

/* properties */
.properties {
  background: #d9d9d9;
  position: absolute;
  right: 1.5vh;
  top: 6vh;
  width: 25vh;
  max-width: 20%;
  z-index: 10;
  cursor: grabbing;
}

.showPropsBtn {
  position: absolute;
  z-index: 100;
  left: 41.5vh;
  bottom: 1vh;
  background: white;
}

/* scene treeView */
.sceneTreeView {
  position: absolute;
  background: #d9d9d9;
  z-index: 100;
  cursor: grabbing;
  max-height: 80vh;
  min-width: 20vh;
  left: 1.5vh;
  top: 6vh;
}

.treeViewBtn {
  position: absolute;
  background: white;
  left: 19vh;
  bottom: 1vh;
  z-index: 100;
}

/* canvas */
.canvas {
  background: white;
}

/* dataTable */

.databaseTableContainer {
  background: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.databaseTableCell:hover {
  background: rgb(250, 255, 189);
}

.databaseTableRow:hover {
  border: 1px solid green;
}

/* registerrieren */
.register {
  height: 100%;
}

/* edit data in Datatable */
.editData {
  position: fixed;
  top: 50%;
  left: 50%;
  background: lightgrey;
  padding: 6px;
  border-radius: 4px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 7px 8px;
}

/* adminArea */
.adminArea {
  width: 100%;
}

/* feedback */
.feedbackIcon {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.feedback {
  position: absolute;
  bottom: 50%;
  right: 50%;
  height: 20%;
  width: 20%;
  background: lightblue;
  padding: 12px;
}

/* IconButton */

.iconButton {
  color: black;
  transform: scale(1.1);
}

.iconButton:hover {
  transform: scale(1.4);
}

.minOpenBtn:hover {
  transform: scale(1.05);
}

/* select */
.select {
  /* box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.5); */
  margin: 18px;
}

/* roundedShadow */

.roundedShadow {
  margin: 18px;
  padding: 8px;

  transition: box-shadow 0.5s, background-color 0.5s;

  box-shadow: 7px 7px 14px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

/* fbxList */

.fbxList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.fbxListEntry {
  background: white;
  transition: box-shadow 0.5s;
}

.fbxListEntry:hover {
  box-shadow: 7px 7px 14px 10px rgba(0, 0, 0, 0.5);
}

/* addFbxModel */

.addFbxModel {
  background: white;
  transition: box-shadow 0.5s;
}

.addFbxModel:hover {
  box-shadow: 7px 7px 14px 10px rgba(0, 0, 0, 0.5);
}

/* loading */

.loading {
  transform: scale(2.4);
}

/* allgemein */

.centerH {
  justify-content: center;
}

.centerV {
  align-items: center;
}

.fullHeightWidth {
  height: 100%;
  width: 100%;
}

.logoMenubar {
  transform: scale(0.04);
  position: absolute;
  background: white;
  margin-top: 0px;
  left: -210px;
}
