html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#__next {
  height: 100%;
}

/* index */
.index {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* index */
.index::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/background.png");
  filter: blur(10px);
  z-index: -1;
}

/* login */
.login {
  height: 40vh;
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.75);
  opacity: 1;
  position: relative;
}

/* login */
.login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../public/images/loginBackground.png");
  filter: none;
}

/* Scene List */
.sceneList {
  display: flex;
  /* justify-content: center;  zentriert horizontal */
  align-items: center; /* zentriert vertikal */
  height: 100%;
  width: 100%;
  background: "green";
}

.scenListEntry:hover {
  background-color: yellow;
}

/* new Scene */
.newScene {
  margin-top: auto; /* damit am ende des containers */
  width: 75%;
  margin: 24px;
}

/* main */
.main {
  height: 100%;
  width: 100%;
}

/* Menubar */
.menuBar {
  height: 5%;
  background: rgb(168, 183, 192);
  align-items: center;
}

/* modelList */
.modelList {
  position: absolute;
  background: #d9d9d9;
  left: 5%;
  top: 10%;
  height: 75%;
  width: 17.5%;
  z-index: 10;
}

/* toolbar */
.toolBar {
  background: #d9d9d9;
  position: absolute;
  height: 100px;
  width: 55%;
  left: 22.5%;
  right: 22.5%;
  top: 10%;
  z-index: 10;
}

/* wallList */
.wallList {
  position: absolute;
  height: 100px;
  width: 70%;
  left: 5%;
  right: 22.5%;
  bottom: 5%;
  z-index: 10;
}

/* properties */
.properties {
  position: absolute;
  right: 5%;
  top: 10%;
  height: 85%;
  width: 20%;
  max-width: 20%;
  z-index: 10;
}

/* canvas */
.canvas {
  background: white;
}

/* logout */
.logout {
  background: "red";
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
}
.logout:hover {
  background-color: yellow;
}

/* dataTable */
.databaseTableCell:hover {
  background: rgb(250, 255, 189);
}

.databaseTableRow:hover {
  border: 1px solid green;
}

/* registerrieren */
.register {
  height: 100%;
  background: red;
}

/* edit data in Datatable */
.editData {
  position: fixed;
  top: 50%;
  left: 50%;
  background: red;
}

/**/
.stats {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
